@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans.woff2) format('woff2'),
        url(../fonts/OpenSans.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light.woff2) format('woff2'),
        url(../fonts/OpenSans-Light.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Semibold.woff2) format('woff2'),
        url(../fonts/OpenSans-Semibold.woff) format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.woff2) format('woff2'),
        url(../fonts/OpenSans-Bold.woff) format('woff');
    font-weight: 700;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle, #1c7fc2 0%, #009cdc 28%, #0d9ade 32%, #011844 100%);
    color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    transition: filter 0.5s;
    filter: blur(15px);
}
.weather {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    white-space: nowrap;
}
.weather__search {
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 20px;
    color: inherit;
    margin-bottom: 20px;
}
.weather__search::placeholder {
    color: #fff;
}
.weather__today {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.weather__image {
    width: 30vmin;
    align-self: center;
}
.weather__city {
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0;
}
.weather__day {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
}
.weather__indicator::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-right: 10px;
}
.weather__indicator--humidity::before {
    background-image: url(../images/humidity.png);
}
.weather__indicator--wind::before {
    background-image: url(../images/wind.png);
}
.weather__indicator--pressure::before {
    background-image: url(../images/pressure.png);
}
.weather__temperature {
    font-size: 60px;
}
.weather__forecast {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.weather__forecast__icon {
    max-width: 50%;
}
.weather__forecast__item {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 0 10px 10px;
    padding: 30px 5px 20px;
    box-sizing: border-box;
    min-width: 150px;
    width: calc(20% - 20px);
    flex-grow: 1;
}